@mixin easeOut {
    transition: all 0.5s ease-out;
}
@mixin easeOut-project {
    transition: all 0.6s ease-out;
}
@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            position: relative;
            z-index: 0;
            &::after {
                content:'';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background:rgba( $primary-color, $bg-opacity);
                z-index: -1;
            }
        }
    }
}

@mixin typing_effect {
       .cursor {
            display: inline-block;
            animation: blink 0.7s infinite;
            color: $secondary-color;
        }

        @keyframes blink {
            0%, 100% { opacity: 1; }
            50% { opacity: 0; }
        }
}
@mixin scroll_bar {
    scrollbar-width: 50px;
    scrollbar-color: $primary-color $secondary-color;
        /* Works in WebKit browsers (Chrome, Safari, Edge) */
    ::-webkit-scrollbar {width: 12px;}

    ::-webkit-scrollbar-track {
    background: $secondary-color; /* light background */
    border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
    background: $primary-color; /* gray scrollbar */
    border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
    background: darken($secondary-color, 25); /* darker on hover */
    }

}
