@import 'mixins';
@import 'config';
@import 'colors';
@import 'menu';


$show-home-image:true;
$home-image:url(../IMG/background.jpg);
$bg-opacity:0.9;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    line-height: 1.5;
    @include scroll_bar;
}
body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
}
h1,h2,h3 {
    font-weight: 400;
    &.lg-heading{font-size: 6rem;font-weight: bold;}
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color,2), 0.5);
    }
}

a {color: #fff;text-decoration: none;}

header {position: fixed;z-index: 2;width: 100%;}

.text-secondary {color: $secondary-color;}

main {
    padding: 4rem ;
    min-height: calc(100vh - 40px);
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover {color: $secondary-color; @include easeOut();
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {margin-top: 20vh;}
    }
    &#aboutme {
        @include typing_effect;
        .about-info {
            display: grid;
            grid-gap: 30px;
            grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
            grid-template-columns: repeat(3, 1fr);
            .bio-image {
                grid-area: bioimage;
                margin: auto;
                border-radius: 50%;
                border: $secondary-color 3px solid;
                width: 250px;
                height: 250px;
            }
            .bio {
                grid-area: bio;
                font-size: 1.2rem;
                h3 {font-size: 2.1rem;}
            }
            .job-1 {grid-area: job1;}
            .job-2 {grid-area: job2;}
            .job-3 {grid-area: job3;}
            .job {
                background: lighten($primary-color,5);
                padding: 0.5rem;
                border-bottom: $secondary-color 5px solid;
                h3 {
                    text-transform: capitalize;
                    color: $secondary-color;
                    font-weight: bolder;
                    border-bottom: 2px solid $secondary-color;
                }
                h6 {
                    color: darken($secondary-color, 10);
                    text-transform: uppercase;
                    border-bottom: 2px solid $secondary-color;
                    margin: 0.2rem 0;
                }
                p {text-transform: capitalize;}
            }
        }
    }
    
}

// work/.projects
main#work {
    @include typing_effect;
    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.7rem;
        img {
            width: 100%;
            border: $secondary-color 5px solid;
            border-radius: 10px;
            &:hover {
                opacity: 0.3;
                border-color: lighten($primary-color, 50);
                @include easeOut-project;
                }
            }
            .btn {
                display: block;
                padding: 0.5rem 1rem;
                border: 0;
                border-radius: 10px;
                margin-bottom: 0.3rem;
                text-align: center;
                &:hover {
                    background: $secondary-color;
                    color: set-text-color($secondary-color);
                    @include easeOut-project;
                }
            }
            .btn-dark {
                @extend .btn;
                background: darken($primary-color, 50);
                color: #fff;
            }
            .btn-light {
                @extend .btn;
                background: lighten($primary-color, 50);
                color: #444;
            }
    }
}

// contact section 
main#contactme {
    @include typing_effect;
    .boxes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25px;
        div {
            font-size: 25px;
            border: $secondary-color 4px solid;
            padding: 25px 40px;
            margin-bottom: 1rem;
            &:hover {
                padding: 15px 20px;
                background: $secondary-color;
                color: set-text-color($secondary-color);
                @include easeOut;
                span {
                    color: set-text-color($secondary-color);
                }
            }  
    }
    section.contact {
            font-size: 25px;
            padding: 25px 40px;
            border: $secondary-color 4px solid;
            form {
                display: flex;
                flex-direction: column;
                label {
                    margin-top: 10px;
                    color: $secondary-color;
                }
                input, textarea {
                    padding: 10px;
                    font-size: 16px;
                    margin-top: 5px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    outline: none;
                }

                button {
                    margin-top: 20px;
                    padding: 10px;
                    background-color: $secondary-color;
                    color: set-text-color($secondary-color);
                    border: none;
                    font-size: 16px;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                background-color: $primary-color;
                color: set-text-color($primary-color);
                border: $secondary-color 3px solid;
                @include easeOut;
                }
                
                }
            }
    }
}


#main-footer {
    text-align: center;
    padding: 0.5rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);

}

@import 'mobile';